@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700&display=swap');

:root {
    --white: #ffffff;
    --orange: #F58634;
    --pink: #DA3191;
    --purple: #A8518A;
    --dark-gray: #4D4D4D;
    --light-gray: #808080;
    --font-default: 'Archivo Black', sans-serif;
    --font-secondary: 'Comfortaa', cursive;
  }